* {
   text-align: center;
}

.game {
   display: flex;
   margin: 20px;
}

.highlight {
   background-color: #fff482;
}

.sideBySide {
   display: flex;
   margin-top: 20px;
}

.stacked {
   display: block;
}

.toggleNote {
   background-color: #c6c2b6;
   border: 2px solid black;
   border-radius: 10px;
   float: right;
   font-size: 24px;
   font-weight: bold;
   height: 40px;
   line-height: 40px;
   margin: 1px;
   padding: 0px;
   text-align: center;
}

.undoRedoButton {
   background-color: #c6c2b6;
   border: 2px solid black;
   border-radius: 10px;
   clear: both;
   float: left;
   font-weight: bold;
   font-size: 24px;
   height: 60px;
   margin: 5px;
   width: 105px;
}

.resetButton {
   background-color: #db4c30;
   border: 2px solid black;
   border-radius: 10px;
   clear: both;
   float: left;
   font-weight: bold;
   font-size: 24px;
   height: 60px;
   margin: 5px;
   width: 105px;
}

.newPuzButton, .checkButton {
   background-color: #72c966;
   border: 2px solid black;
   border-radius: 10px;
   clear: both;
   float: left;
   font-weight: bold;
   font-size: 24px;
   height: 60px;
   margin: 5px;
   width: 105px;
}
