.num {
   background-color: #cbebf2;
   border: 2px solid black;
   border-radius: 10px;
   font-size: 36px;
   font-weight: bold;
   height: 40px;
   line-height: 40px;
   margin: 1px;
   padding: 0px;
   text-align: center;
   width: 40px;
}

.highlight {
   background-color: #fff482;
}
